{% include 'start.html' %}
<body>
<script>
    var p2=localStorage.getItem("id");
    console.log(p2);
</script>
    {% include 'welcome.html' %}
    <!-- Content -->
    <div class="content flex">
        {% include 'nav.html' %}

        <div class="main">
            <div class="minhead flex"><h4>AICTE POINTS</h4></div>
            <table class="tab">
                <tr>
                    <th>USN</th>
                    <th>Name</th>
                    <th>MENTOR</th>
                    <th>TOTAL POINTS</th>
                </tr>
                <tr>
                    <td>{{ id }}</td>
                    <td>{{ name }}</td>
                    <td>{{ m_name }}</td>
                    <td>{{ sum }}</td>
                </tr>
            </table>

            <div class="minhead flex"><h4>AICTE POINT ACTIVITIES -- {{ name }}</h4></div>
            <table class="tab">
                <tr>
                    <th>Date</th>
                    <th>Activity</th>
                    <th>POINTS</th>
                </tr>
                {% for i in b%}
                <tr>
                    <td>{{ i.date }}</td>
                    <td>{{ i.name }}</td>
                    <td>{{ i.point }}</td>
                </tr>
                {% endfor %}
            </table>

        </div>

    </div>
</body>

</html>