{% include 'start.html' %}

{% load static %}
{% static "/img" as image %}
<body>
<script>
    var p2=localStorage.getItem("id");
    console.log(p2);
</script>
    {% include 'welcome.html' %}
    <!-- Content -->
    <div class="content flex">
        {% include 'nav.html' %}

        <div class="main">
            <div class="minhead flex"><h4>ATTENDANCE-- {{ sub }}</h4></div>
            <table class="tab">
                <tr>
                    <th>DATE</th>
                    <th>ATTENDANCE</th>
                </tr>
                {% for i in b %}
                <tr>
                    <td>{{ i.date }}</td>
                    <td> <img src="{{ image }}/{{ i.img }}" alt="z" style="width: 3rem"> </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>

</html>