{% include 'start.html' %}
<body>
    {% include 'welcome.html' %}
    <!-- Content -->
    <div class="content flex">
        {% include 'nav.html' %}

        <div class="main">
            <div class="minhead flex"><h4>Internal Marks</h4></div>
            <table class="tab">
                <tr>
                    <th width="20%">Course ID</th>
                    <th width="20%">Course Name</th>
                    <th width="15%">IA 1</th>
                    <th width="15%">IA 2</th>
                    <th width="15%">IA 3</th>
                    <th width="15%">ASSIGNMENT</th>
                </tr>
                {% for i in b %}
                <tr>
                    <td>{{ i.c_id }}</td>
                    <td>{{ i.c_name }}</td>
                    <td>{{ i.i1 }}</td>
                    <td>{{ i.i2 }}</td>
                    <td>{{ i.i3 }}</td>
                    <td>{{ i.asnmt }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

</body>
</html>