<div class="side flex">

            <button id="Home" class="nav_btn" onclick="location.href='/homepage/'" type="button">Home</button>
            <button id="Attend" class="nav_btn" onclick="location.href='/home/{{ role }}/ATTENDANCE/'" type="button">Attendance</button>
            <button id="Aicte" class="nav_btn" onclick="location.href='/home/{{ role }}/AICTE/'" type="button">AICTE</button>
            <button id="Aicte" class="nav_btn" onclick="location.href='/home/{{ role }}/Internal_Marks/'" type="button">Internal Assessment</button>
            <button id="Aicte" class="nav_btn" onclick="location.href='/home/{{ role }}/University_Marks/'" type="button">VTU Marks</button>
            <button class="nav_btn" onclick="location.href='/home/logout'" type="button">Log Out</button>
</div>
<script>
    var onn=document.getElementById('{{ work }}');
    onn.classList.add("on");
</script>