{% include 'start.html' %}
<body>
    {% include 'welcome.html' %}
    <!-- Content -->
    <div class="content flex">
        {% include 'nav.html' %}

        <div class="main">
            <div class="minhead flex"><h4>ATTENDANCE</h4></div>
            <table class="tab">
                <tr>
                    <th>Course ID</th>
                    <th>Course Name</th>
                    <th>Attended Classes</th>
                    <th>Total Classes</th>
                    <th>Attendance %</th>
                </tr>
                {% for i in b %}
                <tr>
                    <td><a href="/home/{{ role }}/ATTENDANCE/{{ i.c_name }}">{{ i.c_id }}</a></td>
                    <td><a href="/home/{{ role }}/ATTENDANCE/{{ i.c_name }}">{{ i.c_name }}</a></td>
                    <td><a href="/home/{{ role }}/ATTENDANCE/{{ i.c_name }}">{{ i.ac }}</a></td>
                    <td><a href="/home/{{ role }}/ATTENDANCE/{{ i.c_name }}">{{ i.tc }}</a></td>
                    <td style="background-color: {{ i.col}}; color:white"><a href="#">{{ i.ap }}%</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>

</html>